
#root{
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.row{
  display: flex;
  flex-direction: row;
  width: 270px;
  height: 90px;
  /*border: 2px solid teal;*/
}

.row__cell{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 100%;
  border: 1px solid teal;
  padding: 15px;
}